body {
    color: #e5dada;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
    background-color: #840032;
}

#container {
    width: 72.9%;
    text-align: left;
    border: 1px solid #e5dada;
    margin: auto;
    position: relative;
    top: 10px;
    text-align: justify;
}

#cabecera {
    background: #002642;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.75);
    color: #e5dada;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}

#container h1{
    font-size: 20px;
    padding: 1.5;
}

#cabecera #tagline {
    padding: 0 0 0 2em;
    font-weight: normal;
    font-size: 0.8em;
}

#post img {
    height: 100px;
    width: 100px;
    display: inline-block;
    position: static;
}

header{
    width: 100%;
    height: 50px;
    background-color: #002642;
    position: static;
}


#encabezado, img{
    width: 45px;
    height: 45px;
    margin: 0;
    position: absolute;
    top: 2px;
    left: 1px;

}

#encabezado, li, a{
    font-size: 1.09em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 5px;
    display: inline-block;
    color: white;
    list-style: none;
    margin: auto;
    text-decoration: none;
    text-align: center;
}

footer{
    width: 72.9%;
    height: 60px;
    background: #002642;
    position: relative;
    margin: auto;
    top: 10px;
    border: 1px solid #e5dada;
}

.redes-sociales p{
    font-family: 'Abril Fatface', cursive;
    font-size: 15px; 
    font-weight: 100; 
    text-align: center;
    position: relative;
    margin: auto;
}

.redes-sociales img{
    width: 35px;
    height: 35px;
    position: relative;
    display: inline-block;
    top: 3px;
}